node-flows/blue-link-reader.json
[{"id":"5612bf38.8b0db","type":"tab","label":"Bluetooth link reader","disabled":false,"info":""},{"id":"1eca18ed.12df17","type":"inject","z":"5612bf38.8b0db","name":"","props":[{"p":"payload"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"00:14:03:05:59:00","payloadType":"str","x":170,"y":180,"wires":[["bbaaa7b.bef8458","a930684f.ad3ec8"]]},{"id":"cfa2e568.628a38","type":"comment","z":"5612bf38.8b0db","name":"fill these inject nodes with HC06 mac address","info":"","x":210,"y":120,"wires":[]},{"id":"bbaaa7b.bef8458","type":"exec","z":"5612bf38.8b0db","command":"hcitool lq","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":180,"wires":[["73cc944b.37a5bc"],[],[]]},{"id":"73cc944b.37a5bc","type":"function","z":"5612bf38.8b0db","name":"lq parser","func":"var rawdata = msg.payload;\n//string should be formatted like\n//'[{\"topic\": \"Teensy1/A0\", \"data\": temp}, {\"topic\":\"Teensy1/A1\", \"data\": temp}, ...]'\nvar splitdata = rawdata.split(\":\")\n//second part of this is the strength from 0 to 255\nvar strength255 = parseInt(splitdata[1]);\n//normalize by double 255 to get percent strength\nvar strength = 1.0*strength255/255;\n\nreturn {payload: strength};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":180,"wires":[["6935ab56.775274","3ed8f2f5.11271e","ee70072a.8a1d38"]]},{"id":"596f7a07.5df824","type":"ui_chart","z":"5612bf38.8b0db","name":"","group":"a613f50d.15a8f8","order":3,"width":"8","height":"7","label":"Link Quality (hcitool lq)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"300","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":180,"wires":[[]]},{"id":"39bf29b6.1d9fc6","type":"comment","z":"5612bf38.8b0db","name":"name your HC06 device here","info":"","x":820,"y":140,"wires":[]},{"id":"6935ab56.775274","type":"function","z":"5612bf38.8b0db","name":"chart parser","func":"var hc06name = \"Teensy1\";\n\nvar chartmsg = {topic: hc06name, payload: msg.payload};\nreturn chartmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":180,"wires":[["596f7a07.5df824"]]},{"id":"38933c9d.827a24","type":"ui_button","z":"5612bf38.8b0db","name":"","group":"a613f50d.15a8f8","order":2,"width":"4","height":"1","passthru":false,"label":"Connect to HC06","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":540,"wires":[["aa311a9.5fd4ae8"]]},{"id":"aa311a9.5fd4ae8","type":"exec","z":"5612bf38.8b0db","command":"sudo rfcomm connect hci0 00:14:03:05:59:00","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":540,"wires":[[],[],[]]},{"id":"3ed8f2f5.11271e","type":"function","z":"5612bf38.8b0db","name":"format for mqtt","func":"var info = msg.payload;\nvar payl = {data:info, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":260,"wires":[["bb24f1e1.4de23"]]},{"id":"a930684f.ad3ec8","type":"exec","z":"5612bf38.8b0db","command":"hcitool rssi","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":400,"wires":[["57813055.817d5"],[],[]]},{"id":"57813055.817d5","type":"function","z":"5612bf38.8b0db","name":"rssi parser","func":"var rawdata = msg.payload;\n//string should be formatted like\n//'[{\"topic\": \"Teensy1/A0\", \"data\": temp}, {\"topic\":\"Teensy1/A1\", \"data\": temp}, ...]'\nvar splitdata = rawdata.split(\":\")\n//second part of this is the strength in what I beleive is dB\nvar strength = parseInt(splitdata[1]);\n\nreturn {payload: strength};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":400,"wires":[["e0531c3d.e423b","b8207e20.2bf2c","d9f5fe1d.802af"]]},{"id":"e0531c3d.e423b","type":"function","z":"5612bf38.8b0db","name":"chart parser","func":"var hc06name = \"Teensy1\";\n\nvar chartmsg = {topic: hc06name, payload: msg.payload};\nreturn chartmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":400,"wires":[["4b8c52b7.57c21c"]]},{"id":"b8207e20.2bf2c","type":"function","z":"5612bf38.8b0db","name":"format for mqtt","func":"var info = msg.payload;\nvar payl = {data:info, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":480,"wires":[["5b05fdb0.464644"]]},{"id":"4b8c52b7.57c21c","type":"ui_chart","z":"5612bf38.8b0db","name":"","group":"a613f50d.15a8f8","order":4,"width":"8","height":"7","label":"Signal strength (hcitool rssi)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"300","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":400,"wires":[[]]},{"id":"bb24f1e1.4de23","type":"widaq-out","z":"5612bf38.8b0db","server":"77d654bb.e0ddcc","topic":"evanspi/systeminfo/T1linkquality","name":"lq","useType":"false","verify":"false","x":1100,"y":280,"wires":[]},{"id":"5b05fdb0.464644","type":"widaq-out","z":"5612bf38.8b0db","server":"77d654bb.e0ddcc","topic":"evanspi/systeminfo/T1rssi","name":"rssi","useType":"false","verify":"false","x":1070,"y":460,"wires":[]},{"id":"dee96d27.fe751","type":"file","z":"5612bf38.8b0db","name":"","filename":"/home/pi/data/lq/11-27-20.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1520,"y":220,"wires":[[]]},{"id":"459b1c47.6287c4","type":"file","z":"5612bf38.8b0db","name":"","filename":"/home/pi/data/rssi/11-27-20.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1550,"y":440,"wires":[[]]},{"id":"ee70072a.8a1d38","type":"function","z":"5612bf38.8b0db","name":"file parser","func":"var data = msg.payload;\nvar time = Date.now();\nvar filestring = data + \", \" + time;\nreturn {payload:filestring};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":220,"wires":[[]]},{"id":"d9f5fe1d.802af","type":"function","z":"5612bf38.8b0db","name":"file parser","func":"var data = msg.payload;\nvar time = Date.now();\nvar filestring = data + \", \" + time;\nreturn {payload:filestring};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":440,"wires":[[]]},{"id":"70bc7e0a.4a4ce","type":"file","z":"5612bf38.8b0db","name":"","filename":"/home/pi/data/posn/11-27-20.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1500,"y":580,"wires":[[]]},{"id":"55d1c818.5f8218","type":"ui_text_input","z":"5612bf38.8b0db","name":"","label":"Position to put in file","tooltip":"","group":"a613f50d.15a8f8","order":5,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"","x":980,"y":600,"wires":[["24a321d3.fd7d4e"]]},{"id":"24a321d3.fd7d4e","type":"function","z":"5612bf38.8b0db","name":"file parser","func":"var data = msg.payload;\nvar time = Date.now();\nvar filestring = data + \", \" + time;\nreturn {payload:filestring};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":580,"wires":[[]]},{"id":"b65a8c40.1fc","type":"exec","z":"5612bf38.8b0db","command":"sudo rfcomm release rfcomm0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":640,"wires":[[],[],[]]},{"id":"d86c8cfe.0136d","type":"ui_button","z":"5612bf38.8b0db","name":"","group":"a613f50d.15a8f8","order":1,"width":"4","height":"1","passthru":false,"label":"Disconnect HC06","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":640,"wires":[["b65a8c40.1fc"]]},{"id":"a613f50d.15a8f8","type":"ui_group","name":"Single bluetooth monitor","tab":"dea6695d.1700f8","order":1,"disp":true,"width":"13","collapse":false},{"id":"77d654bb.e0ddcc","type":"widaq-broker","username":"","password":"","name":"Chicago WiDaq","host":"beam.uchicago.edu","port":"1883","allowRemoteTerminalAccess":true},{"id":"dea6695d.1700f8","type":"ui_tab","name":"Single bluetooth monitor","icon":"dashboard","order":4,"disabled":false,"hidden":false}]