node-flows/checksumtester.json
[{"id":"56bdb066.29de7","type":"tab","label":"Checksum tester","disabled":false,"info":""},{"id":"edf5d6d4.0a16f8","type":"serial out","z":"56bdb066.29de7","name":"","serial":"864ada81.facc48","x":840,"y":280,"wires":[]},{"id":"c184c376.a32a3","type":"ui_button","z":"56bdb066.29de7","name":"enter checksum mode","group":"928a0f23.44d9a","order":2,"width":0,"height":0,"passthru":false,"label":"Initiate checksum-test mode","tooltip":"","color":"","bgcolor":"","icon":"","payload":"<statechange: checksum>","payloadType":"str","topic":"command","x":480,"y":280,"wires":[["edf5d6d4.0a16f8","489f5537.c334fc"]]},{"id":"f53262e4.eaf2c","type":"serial in","z":"56bdb066.29de7","name":"","serial":"864ada81.facc48","x":450,"y":440,"wires":[["5333ce55.b157a"]]},{"id":"9cc10a4b.58dee8","type":"debug","z":"56bdb066.29de7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":540,"wires":[]},{"id":"489f5537.c334fc","type":"debug","z":"56bdb066.29de7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":340,"wires":[]},{"id":"5333ce55.b157a","type":"function","z":"56bdb066.29de7","name":"sum-checker","func":"var rawdata = msg.payload;\nrawdata = rawdata.split(',');\n\n\n//count the number of processed messages\nvar messageCount = context.get(\"messageCount\") || 0; //initialize at 0 if not existing yet\ncontext.set(\"messageCount\", messageCount + 1);\n\n\n//do checksum\nvar sum = 0;\n//check order of numbers\nvar outOfOrder = false;\nvar outOfOrderIndex; \n//goes to length - 1 as the last element is the sum\nfor(var i = 0; i < rawdata.length - 1; i++)\n{\n    sum += parseInt(rawdata[i]);\n    if(i > 0 && outOfOrder == false && +\n    (parseInt(rawdata[i]) != parseInt(rawdata[i-1]) + 1))\n    {\n        outOfOrder = true;\n        outOfOrderIndex = i;\n    }\n}\n\n//last number is the sum calculated by teensy\nvar teensySumString = parseInt(rawdata[rawdata.length - 1]);\nvar errorDiff = teensySumString - sum;\n\n//keep track of whether an error occured\nvar errorCount = context.get(\"errorCount\") || 0; //initialize at 0 if not existing yet\nif(errorDiff != 0 || outOfOrder)\n{\n    context.set(\"errorCount\", errorCount + 1);\n}\n\n\n//form a new message, the same sequential integers the \n//Teensy was supposed to send, and send it down the line. \nvar n = 1000;\nvar messageOut = \"<\";\nvar newSum = 0;\nfor(var i = 0; i < n; i++)\n{\n    newSum += i;\n    messageOut = messageOut.concat(i);\n    messageOut = messageOut.concat(\",\");\n}\nmessageOut = messageOut.concat(newSum);\nmessageOut = messageOut.concat(\">\");\n\nmsg.payload = messageOut;\nmsg.messageCount = messageCount;\nmsg.errorCount = errorCount;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":480,"wires":[["9cc10a4b.58dee8","49ed36ef.11aed8","8760e51.c08ce18","23fc36b.f7602ca"]]},{"id":"49ed36ef.11aed8","type":"serial out","z":"56bdb066.29de7","name":"","serial":"864ada81.facc48","x":1060,"y":480,"wires":[]},{"id":"8760e51.c08ce18","type":"ui_text","z":"56bdb066.29de7","group":"928a0f23.44d9a","order":3,"width":0,"height":0,"name":"","label":"Number of checksum errors since deployment:","format":"{{msg.errorCount}}","layout":"row-center","x":1340,"y":540,"wires":[]},{"id":"438242d1.d35a9c","type":"inject","z":"56bdb066.29de7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":660,"wires":[["8d973064.63955"]]},{"id":"219d79ed.b005e6","type":"ui_text","z":"56bdb066.29de7","group":"928a0f23.44d9a","order":2,"width":0,"height":0,"name":"","label":"Time of flow start","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":700,"wires":[]},{"id":"8d973064.63955","type":"moment","z":"56bdb066.29de7","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"dddd, MMMM Do YYYY, h:mm:ss a","locale":"en-US","output":"payload","outputType":"msg","outTz":"America/Los_Angeles","x":750,"y":740,"wires":[["219d79ed.b005e6"]]},{"id":"23fc36b.f7602ca","type":"ui_text","z":"56bdb066.29de7","group":"928a0f23.44d9a","order":3,"width":0,"height":0,"name":"","label":"Number of 3.8kB messages since deployment:","format":"{{msg.messageCount}}","layout":"row-right","x":1340,"y":580,"wires":[]},{"id":"864ada81.facc48","type":"serial-port","serialport":"/dev/rfcomm0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"928a0f23.44d9a","type":"ui_group","name":"Checksum tester","tab":"1ab00b03.af9405","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ab00b03.af9405","type":"ui_tab","name":"Checksum tester","icon":"dashboard","order":1,"disabled":false,"hidden":false}]