node-flows/rpi-gputemp.json
[{"id":"87d78631.a4d638","type":"tab","label":"RPi GPU Temp","disabled":false,"info":"This is an example of a simple flow that sends data to the mqtt broker. "},{"id":"ccc6442f.fe81a8","type":"inject","z":"87d78631.a4d638","name":"","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"exectime","payload":"","payloadType":"date","x":200,"y":280,"wires":[["75c39e9c.0d9e7"]]},{"id":"75c39e9c.0d9e7","type":"exec","z":"87d78631.a4d638","command":"vcgencmd ","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"proc_temp","x":390,"y":220,"wires":[["148724d4.d30bfb","9568dec7.2e49e"],[],[]]},{"id":"9568dec7.2e49e","type":"function","z":"87d78631.a4d638","name":"format for mqtt","func":"var info = msg.payload;\nvar tempStartIndex  = info.indexOf('temp=');\nvar tempStopIndex   = info.indexOf('C') - 1;\nvar temp = Number(info.substring(tempStartIndex + 5, tempStopIndex));\n//var val = {temp : temp};\n// flow.set('Temperature',temp);\nvar payl = {data:temp, timestamp:Date.now()}\nreturn {payload:payl};","outputs":1,"noerr":0,"x":760,"y":260,"wires":[["484ea759.a6d4a8"]]},{"id":"d577440a.1c5248","type":"ui_gauge","z":"87d78631.a4d638","name":"","group":"91e75c38.91808","order":1,"width":5,"height":"5","gtype":"gage","title":"Evan's Pi Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":140,"wires":[]},{"id":"148724d4.d30bfb","type":"function","z":"87d78631.a4d638","name":"format for gauge","func":"var info = msg.payload;\nvar tempStartIndex = info.indexOf('temp=');\nvar tempStopIndex = info.indexOf('C') - 1;\nvar temp = Number(info.substring(tempStartIndex + 5, tempStopIndex));\n\nreturn {topic:\"gputemp\", payload:temp}","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["d577440a.1c5248"]]},{"id":"484ea759.a6d4a8","type":"widaq-out","z":"87d78631.a4d638","server":"77d654bb.e0ddcc","topic":"evanspi/systeminfo/gputemp","name":"temp","useType":"true","verify":"false","x":990,"y":340,"wires":[]},{"id":"91e75c38.91808","type":"ui_group","name":"RPi Diagnostics","tab":"e14dbd7c.0bca4","order":1,"disp":true,"width":"14","collapse":false},{"id":"77d654bb.e0ddcc","type":"widaq-broker","username":"","password":"","name":"Chicago WiDaq","host":"beam.uchicago.edu","port":"1883","allowRemoteTerminalAccess":true},{"id":"e14dbd7c.0bca4","type":"ui_tab","name":"RPi monitoring","icon":"dashboard","order":2,"disabled":false,"hidden":false}]